<p>The <b>latest (tip-of-tree) protocol</b> <a href="https://chromium.googlesource.com/chromium/src/+log/master/third_party/blink/renderer/core/inspector/browser_protocol.json">changes</a> <a href="https://chromium.googlesource.com/v8/v8.git/+log/master/src/inspector/js_protocol.json"></a>frequently</a> and may break at any time. However it captures the full capabilities of the Protocol, whereas the stable release is a subset. There is no backwards compatibility support guaranteed for the capabilities it introduces.</p>

<h5 browser>Latest <a
   href="https://chromium.googlesource.com/chromium/src/+log/master/third_party/blink/renderer/core/inspector/browser_protocol.json">browser_protocol.json</a> version updated:</h5>
<code browser>Date:   2018-06-13 20:15:40 -0700
</code>

<h5 js>Latest <a
   href="https://chromium.googlesource.com/v8/v8/+/master/src/inspector/js_protocol.json">js_protocol.json</a> version updated:</h5>
<code js>Date:   2018-06-06 07:16:13 -0700
</code>
